.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.topContainer {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -1px;
  background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
}

.title {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -12px;
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  color: white;
}

.midContainer {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.storyTitle {
  color: #A39B85;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  padding-top: 50px;
  /* padding-left: 380px; */
  padding-right: 62.5%;
}

.story {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  font-style: normal;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-top: -10px; */
  /* margin-bottom: -10px; */
}

.missionTitle {
  color: #A39B85;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  /* padding-top: 20px; */
  /* padding-left: 380px; */
  padding-right: 60%;
}

.mission {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamTitle {
  color: #A39B85;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
  /* padding-left: 380px; */
  padding-right: 62.5%;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 180px;
  margin-left: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teamName {
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.contactTitle {
  color: #A39B85;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
  /* padding-left: 380px; */
  padding-right: 61.5%;
}

.contactInfo {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}