.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.topContainer {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -1px;
  background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.title {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -12px;
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  color: white;
}

.midContainer {
  display: flex;
  flex-direction: column;
  /* padding-top: 130px; */
  margin: 10rem 15rem 0 15rem;
}

.storyTitle,
.inclusiveTitle,
.missionTitle,
.teamHeaderTitle,
.contactTitle,
.legalTitle {
  color: #8f8058;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
}

.story, .inclusive, .mission, .contactInfo, .legalInfo {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  font-style: normal;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  min-width: 250px;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  margin-top: 1rem;
  /* margin-left: -3rem; */
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carouselBody {
  display: flex;
  justify-content: center;
}

.zabrian {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U01LPFZGJT0-0a8e0e904763-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.jonathan {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U6RDP5810-a847ad46c15a-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.zadok {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U024Z3K3BHQ-d6e807a6725f-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.brian {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U024Z9S32AF-fbf79ee66503-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.soph {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U024SA0H38W-3d16123f54ae-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.caleb {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U025BMQGGKB-42a9e41029dc-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.keefe {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U024SA47PP0-b19625f23012-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.ran {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U025NT3MN00-d16835f6fd94-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.zach {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U025BMNAD4H-7f03f7e91b6b-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.ubin {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U02558CSYCC-607af5374092-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.dom {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://ca.slack-edge.com/T0455847Q-U01QQ23CJ04-1005f25ff036-512");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.pow {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-image: url("https://cdn.wanted5games.com/game-img/8509.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* .teamItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  margin: 0.5rem;
} */

.teamName {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* width: 8rem; */
  text-align: center;
  padding-top: 0.5rem;
  word-wrap: normal;
}

.teamTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

/* .contactInfo {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.legalInfo {
  font-size: 20px;
  line-height: 26px;
  text-align: start;
  font-weight: 300;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
} */

@media (max-width: 600px) {
  .flexContainer {
    float: center;
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .midContainer {
    margin: 10rem 10rem 0 10rem;
  }
  .title {
    font-size: 48px;
  }
  .teamContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 780px) {
  .midContainer {
    margin: 10rem 5rem 0 5rem;
  }
  .story, .mission, .contactInfo, .inclusive, .legalInfo {
    font-size: 16px;
    margin-left: 0;
  }
  .storyTitle,
  .missionTitle,
  .contactTitle,
  .inclusiveTitle,
  .legalTitle {
    font-size: 28px;
  }
}
