.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  transition: transform 0.3s ease-in-out;
  background-color: navy;
  color: white;
}

