.container {
  /* border: 1px solid black; */
  display: flex;
  width: 25rem;
  height: 35rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  flex-direction: column;
  margin: 5rem;
  background-color: #eceff1;
}

.header {
  position: relative;
  text-align: center;
  background-color: #475a75;
  color: white;
  height: 4rem;
  display: flex;
  flex-direction: column;
  z-index: 99;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.botBio {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
}

.icon img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.messages {
  height: 100%;
  margin: 0 1.2rem;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.chatBody {
  background-color: white;
  height: 79%;
  /* border: 1px solid red; */
  overflow:scroll;
  overflow-y:auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

.date {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.botMessage {
  background-color: #eaeff6;
  border-radius: 5px;
  margin: 0.5rem 2rem;
  padding: 0.5rem;
  font-size: 14px;
}

.userMessage {
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.5rem 2rem;
  padding: 0.5rem;
  font-size: 12px;
  cursor: pointer;
  color: #373737;
}

.userMessage:hover {
  opacity: 0.8;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  background-color: white;
}

.sendMessageInput {
  width: 100%;
  display: flex;
}

.sendMessageInput:focus {
  border: 1px solid red;
}

.sendMessageInput input {
  width: 100%;
  height: 2.5rem;
  padding: 0.2rem 1rem;
  background-color: #eaeff6;
  border: none;
}

.sendMessageInput input:focus {
  border-radius:0;
  border: none;
}

.sendMessageInput button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: #373737;
  font-weight: bold;
}

.sendMessageInput button:hover {
  opacity: 0.8;
}