.body {
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  /* height: 100vh; */
  /* min-height: 100%; */
  flex-direction: column;
  /* background-color: #e5e5e5; */
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.topBox, .bottomBox {
  display: flex;
  flex: 2;
}

.bottomBox {
  width: 100%;
  height: 3rem;
  background-image: url("https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

/* .bottomBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 18rem;
} */

.left, .bottomLeft {
  flex: 2;
  height: 100%;
  margin-top: 3%;
  /* border: 1px solid black; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  min-width: 350px;
  text-align: center;
  vertical-align: middle;
}

.right, .bottomRight {
  flex: 3;
  height: 100%;
  /* border: 1px solid black; */
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.topRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 2rem;
  padding-right: 5rem;
  /* flex-wrap: wrap; */
}

.greeting {
  font-size: 3.5rem;
  margin: 3rem;
  font-weight: 300;
  font-style: normal;
  line-height: 4rem;
}

.search {
  /* margin-left: 25rem; */
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  font-size: 20px;
  /* border: 0.4px solid black; */
  background: rgb(226, 225, 212);
  box-shadow: 0 10px 15px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.15);
}

.search:focus {
  outline: none;
}

.quote {
  color: #8f8058;
  /* margin: 4rem 8rem; */
  font-size: 1.4rem;
  text-align: center;
  max-height: 230px;
  min-width: 200px;
  margin-top: 5rem;
  padding-left: 1rem;
}

.quote span {
  text-align: center;
}

.quoteDot {
  opacity: 0;
}

.dashboardTitle {
  font-size: 2.5rem;
  margin: 3rem;
  flex: 1;
}

.yourTeam {
  flex: 7;
  /* border: 1px solid black; */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.yourServices {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.yourTeamTitle {
  font-size: 1.8rem;
  line-height: 33px;
  /* font-size: 25px; */
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.discoverTitle {
  /* font-size: 1.4rem; */
  margin: 2rem;
  font-size: 1.8rem;
  line-height: 33px;
  /* font-size: 25px; */
  /* padding-left: 9rem; */
}

.providerCardContainer {
  flex: 3;
  display: flex;
  width: 0%;
}

.providerCard {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 1rem;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  background-color: #d3cec0;
  height: 400px;
  max-width: 300px;
  min-width: 275px;
}

.providerBarTitle {
  font-size: 1.5rem;
  text-align: center;
}

/* .yourServices {
  flex: 7;
  width: 100%;
} */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carouselBody {
  display: flex;
  justify-content: center;
}

.discoverButton {
  font-size: 20px;
  display:block;
  margin: 0 2rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.15);
  border: none;
  background-color: #7c9b87;
  color: #fff;
}

@media (max-width: 1080px) {
  .left {
    display: none;
  }
  .bigCarousel {
    display: none;
  }
  .bottomLeft {
    display: none;
  }
}

@media (max-width: 800px) {
  .providerCardContainer {
    flex-wrap: wrap;
    /* overflow: auto; */
    align-items: center;
  }
  /* .providerCard {
    width: 100%;
  } */
}

@media (max-width: 680px) {
  .discoverButton {
    height: 100px;
    width: 100px;
    font-size: 15px;
  }
  .top {
    flex-wrap: wrap;
    /* margin: 0 1rem; */
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .discoverButton {
    opacity: 0;
  }
}