.homeTitle {
  position: absolute;
  width: 972px;
  height: 99px;
  left: 258px;
  top: 94px;
  font-size: 100px;
  line-height: 132px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}