@import url('https://cdn.rawgit.com/kattergil/seoulNamsan-Webfont/ce840f3d/styles.css');

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 100vw;
  width: 100%;
}

.topContainer {
  position: absolute;
  width: 100%;
  height: 250px;
  top: -1px;
  // background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
}


.topContainer::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  // background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15));
}

.title {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -12px;
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  color: white;
  z-index: 88;
}

.subtitle {
  /* font-family:'seoulNamsan', sans-serif;; */
  color: white;
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  z-index: 88;
}

.midContainer {
  display: flex;
  flex-direction: column;
  // padding-top: 210px;
  margin-top: 15rem;
  justify-content: center;
  align-items: center;
}

.mission {
  color: #8f8058;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  font-weight: 300;
  padding-top: 20px;
  // padding-left: 380px;
  // padding-right: 380px;
  width: 50%;
  min-width: 250px;
}

.iconList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  max-width: max-content;
  max-height: max-content;
}

.iconItem {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.iconItem img {
  width: 200px;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  // margin-bottom: -10px;
}

.iconItemMental {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.iconItemMental img {
  width: 141px;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  // margin-bottom: 10px;
}

.iconItemHeart {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.iconItemHeart img {
  width: 166px;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  // margin-top: -5px;
}

.listDesc {
  color: #8f8058;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
}

.listDescHeart {
  color: #8f8058;
  margin-top: -5px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  // margin-bottom: 20px;
}

.listDescMental {
  color: #8f8058;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 15px;
  padding-bottom: -35px;
  // padding-top: 8px;
  // margin-bottom: -15px;
}

.signup {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  cursor: pointer;
}

.middleTitle {
  color: #749373;
  font-size: 80px;
  line-height: 106px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 10%;
  z-index: 5;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* padding-left: 200px;
  padding-right: 200px; */
  margin-top: 800px;
  padding: 0 6rem;
}

.candleCard {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1501869150797-9bbb64f782fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGVhbHRoJTIwZXF1YWxpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  width: 32%;
  height: 600px;
  line-height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  min-width: 300px;
  position: relative;
  cursor: pointer;
}

.womenCard {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGhlcmJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  width: 32%;
  height: 600px;
  line-height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  min-width: 300px;
  cursor: pointer;
  position: relative;
}

.handsCard {
  text-align: center;
  // background-image: url('../public/hands.png'), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  background-image: url('../public/hands.png');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  width: 32%;
  height: 600px;
  line-height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  min-width: 300px;
  cursor: pointer;
  position: relative;
}

.handsCard::after,
.womenCard::after,
.candleCard::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

}

.handsCard:hover::after,
.womenCard:hover::after,
.candleCard:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}

.candleDesc {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: white;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 88;
}

.womenDesc {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: white;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 88;
}

.handsDesc {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: white;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 88;
}

@media (max-width: 1000px) {
  .flex-container {
    margin: 0 auto;
    // width: 375px;
    max-width: none;
  }
  .container {
    margin: 0 auto;
    // width: 375px;
    max-width: none;
  }
  .midContainer {
    margin-top: 18rem;
  }
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 14px;
  }
  .iconList {
    flex-wrap: wrap;
  }
  .mission {
    font-size: 24px;
  }
  .listDesc, .listDescMental, .listDescHeart {
    font-size: 16px;
    margin-bottom: 0.4rem;
  }
  .iconItemMental img {
    width: 120px;
  }
  .cardsContainer {
    margin-top: 1000px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .handsCard, .womenCard, .candleCard {
    margin-bottom: 2rem;
    // font-size:
    height: 400px;
    padding: 0;
  }
  .womenDesc, .candleDesc, .handsDesc {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .flexContainer {
    flex-wrap: wrap;
    float: center;
    width: 100%;
  }
  .mission {
    font-size: 20px;
    line-height: 30px;
  }
  .midContainer {
    margin-top: 18rem;
  }
}


.coverSearch{
  background-color: rgba(209, 213, 182, 0.803);
  width: 100%;
  height: 30%;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1577253313708-cab167d2c474?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1322&q=80");
  background-position: center;
  background-size: cover;
}