

#container{
  font-family: 'Red Hat Display', sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  border: 3px solid green;
  /* right: 130px; */
  /* width: 50%;
  margin:auto; */
}
/*
@keyframes u-xAxis {
  0% {
     transform: scale(1, -1)
  }

  66%{
    transform: scale(1, 1);
  }

  66% {
    transform: translateX(0px) ;
  }

  88%{
    transform: translateX(-24px) ;
  }

  100% {
    transform: translateX(-24px) ;
  }

}

@keyframes u-yAxis {

  0% {
  transform: translateY(30px);

  }

  70% {
  transform: translateY(30px);

  }
  100% {
    transform: translateY(66px);
  }
} */

#u {
  animation: u-xAxis 3s 1 forwards;
}

#u-wrapper {
  font-size: 30px;
  animation: u-yAxis 3s 1 forwards;
}

#w{font-size: 30px;
  animation: bounce 3s ease-out;
  color:lightgray;
}

#w-container{
  background-color:darkgray;
}


/* @keyframes bounce {
  20% {
  transform: translateY(-8px);
  }

    40% {
  transform: translateY(0px);
  }

    60% {
  transform: translateY(-4px);
  }

      80% {
  transform: translateY(0px);
  }

        96% {
  transform: translateY(-2px);
  }

          100% {
  transform: translateY(0px);
  }

} */

@keyframes bounce {


  70% {
  transform: translateY(0px);
  }

    80% {
  transform: translateY(-6px);
  }

    86% {
  transform: translateY(-0px);
  }

      /* 60% {
  transform: translateY(0px);
  }*/

       92% {
  transform: translateY(-2px);
  }

         92% {
  transform: translateY(0px);
  }

         98% {
  transform: translateY(-1px);
  }

          100% {
  transform: translateY(0px);
  }

}