#container{
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  border: 3px solid green;
  font-size: 9em;

  /* right: 130px; */
  /* width: 50%;
  margin:auto; */
}

#u {
  position: relative;
  animation: u-xAxis 3s 1 forwards;
  margin:0px;
  padding:0px;
  transform: scale(1, -1);
}

#u_wrapper {
  position: relative;
  /* top: -122px;
  right: -100px; */
  top: -.845em;
  left: .8em;
  animation: u-yAxis 3s 1 forwards;
  margin:0px;
  padding:0px;
  line-height: 1em;
}

#w{
  animation: bounce 3s ease-out;
  color:lightgray;
  background-color: gray;
  /* padding: 10px; */
  line-height: 1em;
  margin:0px;
  padding:0px;
  /* margin:0px;
  padding:0px; */
}
/* background-color:darkgray; */

/* #w_container{
  border-radius: 25px;
  margin:0px;
  padding:0px;
} */

