
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  background-color: #fafafa;


}
.darkmain {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: black;
  color: white;
}
.image {
  /* max-width: 800px; */
  width: 100%;
  position: absolute;
  min-height: 100%;
  object-fit: cover;

}
@media (max-width: 600px) {
  .image {
    display: none;
  }
}
.google {
  width: 50%;


}
.gocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}