.provider{

  margin: 3% 3% 3% 3%;
  position: relative;
  max-width: 261px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
  max-height: 380px;
  border-radius: 4px;
  background-color: #A3B3A9;
  margin:0px
}