

#menuC{
  list-style-type: none;
  margin: 3% 3% 3% 3%;
  position: relative;
  max-width: 261px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
  border-radius: 4px;
  background-color: #A3B3A9;
  margin:0px;
  padding: 0px;
  float: 'left';
  max-width: 30%;
}

#menu{
  padding: 0px;
}



.provider{
  list-style-type: none;
  width: 100%;
  padding: 0px;

}

