.App {
  font-family: sans-serif;
  text-align: center;
}

.mymodal {
  position: fixed;
  height: 45rem;
  width: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}


@media (max-width: 600px) {
  .mymodal {
    width: 20rem;
    height: 40rem;
  }
}


.myoverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.media {
  height: 28rem;
}
@media (max-width: 600px) {
  .media {
    width: 17rem;
    height: 22rem;
  }
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.content {
  text-align: center;
}

.starcontainer {
  display: flex;
  justify-content: center;
}

.certification {
  float: right;
  margin-right: 7rem;
  height: 0.5rem;
  width: 2rem;
}

@media (max-width: 600px) {
  .certification {
    /* width: 2rem;
    margin-left: 1rem; */
  }
}

.picture {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .picture {
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    width: 100%;
  }
}

.payment {
  float: left;
  margin-left: 3rem;
  width: 8rem;
}

@media (max-width: 600px) {
  .payment {
    width: 6rem;
    margin-left: -0.5rem;
  }
}

.star {
  color: antiquewhite;
}

