.preferredTitle {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  display: flex;
  justify-content: center;
}

.preferredContainer {
  position: absolute;
  width: 20%;
  top: 8rem;
  background: rgba(29, 21, 1, 0.12);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  transform: rotate(0.68deg);
  padding-top: 1rem;
}

.titleContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.providerFit {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0.7rem;
  width: 85%;
  height: 7rem;
  background-color: rgb(240, 237, 232);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.provider {
  margin-right: 15%;
  margin-left: 3%;
  margin-top: 4%;
}

.logIn {
  background-color: rgb(175, 169, 163);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.3rem;
  margin: 0 7%;
  padding: 8% 5% 0 5%;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
}

.faveImage {
  width: 4rem;
  height: 60%;
  margin-left: 4%;
  margin-top: 4%;
}

@media only screen and (max-width: 800px) {
  .preferredContainer {
    display: none;
  }
}