.all {
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 25%;
}

.searchHeader {
  text-align: center;
  font-size: 2rem;
}

.toggleButton {
  position: absolute;
  top: 5rem;
  right: 10%;
  background: rgba(163, 179, 169, 0.95);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}