.container {
  position: absolute;
  width: 80%;
  height: 30%;
  left: 62px;
  top: 359px;
  float: center;

  background: rgba(184, 175, 152, 0.21);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

@media (max-width: 600px) {
  .container {
    float: center;
    width: 60%;
  }
}