.coverSearch{
  width: 100%;
  height: 20%;
  position: absolute;

}


.searchMainTitle {
  color: #fafafa29;
  font-size: 2rem;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 400;
  padding-top: 40px;
  padding-left: 100px;

}

.subTitle{
  color: #fffffe;
  font-size: 2rem;
  line-height: 48px;
  text-align: left;
  font-weight: 300;
  opacity: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  padding: 2rem;
  top: 10rem;
  background: rgba(74, 118, 88, 0.865);
  background-image: url("https://images.unsplash.com/photo-1504036583833-1b9340d6722f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  opacity: 60%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}

@media (max-width: 600px) {
  .container {
    float: center;
    width: 60%;
  }
}

.dropDown{
  color:rgba(65, 64, 64, 0.742);
  cursor: pointer;
  height: 3rem;
  margin: 1rem;
  width: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.searchButton{
  background-color: rgb(108, 177, 40);
  box-shadow: 1px 1px 2px;
  align-self: right;
  color: rgb(6, 5, 5);
  text-align: center;
  width: 10rem;
  text-indent: 0px;
}
