.all {
  font-family: 'Red Hat Display', sans-serif;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 1rem;
  justify-content: flex-end;
}

.cardcontainer {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.resultsContainer {
  margin-top: 1.5rem;
  margin-left: 25%;
}

@media (max-width: 800px) {
  .resultsContainer {
  margin-top: 0rem;
  margin-left: 0%;
  }
}

.searchHeader {
  text-align: center;
  font-size: 2rem;
}

.toggleButton {
  top: 9.0rem;
  right: 10%;
  border: 0px;
  background: rgba(163, 179, 169, 0.95);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 6rem;
  margin-right: 1rem;
}

.drawerButton {
  top: 5rem;
  right: 10%;
  height: 2.5rem;
  background: rgba(163, 179, 169, 0.95);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 8rem;
  float: right;
  text-align: center;
  justify-content: center;
  margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
  .resultsContainer {
    margin-top: 0rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .buttonGroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .toggleButton {
    margin-top: 4%;
    align-self: center;
  }

  .drawerButton {
    margin-top: 4%;
  }
}
